<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	
</head>
<style type="text/css">
	
	input[type=text], input[type=password], input[type=email], input[type=number], label {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}


button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

.sign-up-form{
	width: 50%;
	
	margin: auto;
}

.field-wrapper {
    padding: 16px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.material-icons.md-24.md-light{ font-size: 24px; color: rgba(0, 0, 0, 0.26);}
.material-icons.md-36.md-white{ font-size: 36px; color: #ffffff; };
}
</style>
<body>
	<div id="header-wrapper" style="background: url(images/header.jpg)">
  		<div id="header" class="container">
  			<div id="logo">
      			<h1><a href="/">Manager-Online</a></h1>
      			<div id="menu">
			        <ul>
			          <li><a href="/">Homepage</a></li>
			          <li><a href="/admin_login">LogIn</a></li>
			          <li><a href="/admin_area">Admin Area</a></li>
			        </ul>
      			</div>
      		</div>
  		</div>
  	</div>

  	<div id="page-wrapper">	
  			<div class="sign-up-form">
   
          				<h1>Log In</h1>
                            	<ul>
      				

                          				<li>
                          					<label>
                          						<a href="/all_users">
                          							Delete User
                          						</a>
                          					</label>
                          				</li>
                    
                          				<li>
                          					<label>
                          						<a href="/insert_conference">
                          							Insert the Conference
                          						</a>
                          					</label>
                          				</li>
                    
                          				<li>
                          					<label>
                          						<a href="/all_conferences_list">
                          							Modify the Conference
                          						</a>
                          					</label>
                          				</li>
                          				<li>
                          					<label>
                          						<a href="/delete_conference">
                          							Delete the Conference
                          						</a>
                          					</label>
                          				</li>
                    
                    
                          				<li>
                          					<label>
                          						<a href="/logout">
                          							Log Out
                          						</a>
                          					</label>
                          				</li>
      		                    </ul>
          					
          					<br/>
                        
  			</div>
  	</div>
  	<div id="pageFooter" class="container">
  	<p>&copy; Untitled. | Lorus iptem | Rutrum fermentum 2017.</p>
    <ul class="contact">
      <li><a href="#"><i class="material-icons md-36 md-white">mail</i></a></li>
	      <li><a href="#"><i class="material-icons md-36 md-white">phone</i></a></li>
	      <li><a href="#"><i class="material-icons md-36 md-white">location_on</i></a></li>
    </ul>
	</div>
</body>
</html>