<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<style type="text/css">
  .material-icons.md-36.md-white{ font-size: 36px; color: #ffffff; }
</style>
<body>

<div id="header-wrapper" style="background: url(images/header.jpg)">
  <div id="header" class="container">
    <div id="logo">
      <h1><a href="#">Manager-Online</a></h1>
      <div id="menu">
        <ul>
          <li class="current_page_item">
          <a href="#">Homepage</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="/signup_form">SignUp</a></li>
          <li><a href="/login_window">LogIn</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="page-wrapper">
  <div id="page" class="container">
    <div class="title">
      <h2>Welcome to our website</h2>
    </div>
    <p>This is <strong>Manager-Online</strong>, an online management system for scientific conferences.</p>
  </div>
</div>
<div id="wrapper">
  <div id="column" class="container">

      <div class="title">
        <h2>Register and take part in conference</h2>
      </div>
      <p>Text text text text text text text text text text text text text text text text text text text text text </p>
      
 
  </div>  
  <div id="portfolio" class="container">
    <div class="column1">
      <div class="box"> <a href="#"><img src="images/pic1.jpg" alt="" class="image image-full" /></a>
        <h3>Conference</h3>
        <p>Text text text text text text text text text text text text text text text text text text text text text </p>
      </div>
    </div>
    <div class="column2">
      <div class="box"> <a href="#"><img src="images/pic2.jpg" alt="" class="image image-full" /></a>
        <h3>Conference</h3>
        <p>Text text text text text text text text text text text text text text text text text text text text text </p>
      </div>
    </div>
    <div class="column3">
      <div class="box"> <a href="#"><img src="images/pic3.jpg" alt="" class="image image-full" /></a>
        <h3>Conference</h3>
        <p>Text text text text text text text text text text text text text text text text text text text text text </p>
      </div>
    </div>
    <div class="column4">
      <div class="box"> <a href="#"><img src="images/pic4.jpg" alt="" class="image image-full" /></a>
        <h3>Conference</h3>
        <p>Text text text text text text text text text text text text text text text text text text text text text </p>
        
      </div>
    </div>
  </div>
<div id="pageFooter" class="container">
  <p>&copy; Untitled. | Lorus iptem | Rutrum fermentum 2017.</p>
    <ul class="contact">
      <li><a href="#"><i class="material-icons md-36 md-white">mail</i></a></li>
        <li><a href="#"><i class="material-icons md-36 md-white">phone</i></a></li>
        <li><a href="#"><i class="material-icons md-36 md-white">location_on</i></a></li>
    </ul>
</div>
</body>
</html>
